<h1>Add a new song</h1>

<%= form_for @song do |f| %>
    <%= hidden_field_tag "song[playlist_ids][]", @song.playlists.last.id %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Add song" %>
<% end %>