<h2><%= @song.title %> by <%= @song.artist %><p>

<% if @song.playlists.length > 0 %>
    <h4>Appears on these playlists: </h4>
    <% @song.playlists.each do |playlist| %>
        <li><%= link_to playlist.name, playlist_path(playlist) %></li><p>
    <% end %>
<% end %>

<% if current_user %>
    <% if @playlist %>
    <%= link_to "Edit Song", edit_playlist_song_path(@playlist, @song) %>
    <% else %>
    <%= link_to "Edit Song", edit_song_path(@song) %>
    <% end %>
    <%= button_to "Delete Song", song_path(@song), method: :delete %>
<% end %>