<h1>Create a new playlist</h1>

<%= form_for @playlist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :description %>
    <%= f.text_area :description %><p>

    <h2>Add songs to your new playlist </h2>
    <h4>Select from existing songs: </h4>

    <%= f.collection_check_boxes :song_ids, Song.all.alphabetized, :id, :title, {include_blank: 'None'} %><p>
    <%= hidden_field_tag "playlist[song_ids][]", @playlist.song_ids %>
    <h4>Add new songs: </h4>
    <%= f.fields_for :songs do |song| %>
        <%= song.label :title %>
        <%= song.text_field :title %>
        <%= song.label :artist %>
        <%= song.text_field :artist %>
        <%= song.label :genre %>
        <%= song.text_field :genre %><p>
    <% end %>

    <%= f.submit "Create playlist" %>
<% end %>