<h1>Create a new playlist</h1>

<%= form_for @playlist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :description %>
    <%= f.text_area :description %><p>

    <h2>Add songs to your new playlist </h2>
    <h4>Select from existing songs: </h4>

    <%= f.collection_check_boxes :song_ids, Song.all.alphabetized, :id, :title do |b| %><p>
        <%= b.label(class: "check_box") do %>
            <%= b.check_box(class: "check_box") %>
            <%= b.object.title %>
            <input type="text" name="playlist[categories_attributes][][name]">
            <%= hidden_field_tag "playlist[categories_attributes][][song_id]", b.object.id %>
        <% end %>
    <% end %>
    <h4>Add new songs: </h4>
    <%= f.fields_for :songs do |song| %>
        <%= song.label :title %>
        <%= song.text_field :title %>
        <%= song.label :artist %>
        <%= song.text_field :artist %>
        <%= song.label :genre %>
        <%= song.text_field :genre %><p>
        <%= song.fields_for :categories do |category| %>
        <%= category.label :category %>
        <%= category.text_field :name %><p>
        <% end %>
    <% end %>

    <%= f.submit "Create playlist" %>
<% end %>