<h1>Create a new playlist</h1>

<%= form_for @playlist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br><br>

    <%= f.collection_select :song_ids, Song.all, :id, :name %><p>
    <%= f.fields_for :songs do |song| %>
        <%= song.label :title %>
        <%= song.text_field :title %>
        <%= song.label :artist %>
        <%= song.text_field :artist %>
        <%= song.label :genre %>
        <%= song.text_field :genre %><p>
    <% end %>

    <%= f.submit "Create playlist" %>
<% end %>