<h1><%= @playlist.name %></h1>
<h4><%= @playlist.description %></h4>
<h4><%= pluralize(@playlist.categories.count, 'Category') %></h4><p>
<ul>
    <% @playlist.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
</ul>
<p>
<h4><%= pluralize(@playlist.songs.count, 'Songs') %></h4>
<ul>
    <% @playlist.songs.each do |song| %>
        <li>
            Title: <%= link_to song.title, playlist_song_path(@playlist, song) %><br>
            Artist: <%= song.artist %><br>
            Genre: <%= song.genre %><br><p>
        </li>
    <% end %>
</ul>

<h4><%= link_to "Add a song to this playlist!", new_playlist_song_path(@playlist) %></h4>
