<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if current_user %>
    <ul class="nav">
      <%= link_to "New Playlist", new_playlist_path %>
      <%= link_to "All Playlists", playlists_path %>
      <%= link_to "All Songs", songs_path %>
      <%= link_to "All Users", users_path %>
      <%= link_to "Log Out", logout_path, method: :post %>
<% end %>
    
    <%= yield %>
  </body>
</html>
